.container {
    padding: 0 9%;
    max-width: 540px;
    margin: 0 auto;
}

*, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
}


// calculator head component
.calc-head {
    margin-top: 30px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-background-1;
    
    .theme-switcher {
        display: flex;
        align-items: flex-end;
        
        .title {
            padding: 0 20px 5px 0;
        }
        
        .theme-labels {
            padding: 2px 5px;
            display: flex;
            justify-content: space-between;
            
            .theme-label {
                width: 16px;
                height: 16px;
                display: inline-block;
                
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        
        .theme-btns-container {
            background-color: $color-theme-picker-1;
            border-radius: 13px;
            display: flex;
            padding: 5px;
            
            .theme-button {
                display: inline-block;
                width: 16px;
                height: 16px;
                
                margin-right: 7px;
                
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}


// Dashboard component
.dashboard {
    color: #fff;
    background-color: $color-dashboard-1;
    padding: 24px;
    text-align: right;
    border-radius: 10px;
    margin-top: 30px;
    min-height: 128px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: right;

    .dashboard-text {
        line-break: anywhere;
    }
}

.calc-buttons {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 13px;
    padding: 24px;

    .reset {
        grid-column: 1/3;
    }
    
    .equals {
        grid-column: 3/5;
    }
}