.container {
    padding: 0 9%;
}

*, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
}

.calculator-container {
    border: 1px solid red;
    background-color: $color-background-1;
    color: #fff;

    .calc-head {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .theme-switcher {
            display: flex;
            align-items: flex-end;

            .title {
                padding: 0 20px 5px 0;
            }

            .theme-labels {
                padding: 2px 5px;
                display: flex;
                justify-content: space-between;

                .theme-label {
                    width: 16px;
                    height: 16px;
                    display: inline-block;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            .theme-btns-container {
                background-color: $color-dashboard-1;
                border-radius: 13px;
                display: flex;
                padding: 5px;

                .theme-button {
                    display: inline-block;
                    width: 16px;
                    height: 16px;

                    margin-right: 7px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}