//theme 1
$color-background-1:#3A4663;
$color-theme-picker-1: #242D44;
$color-dashboard-1:#181F33;

$number-bg-color-1:#EAE3DC;
$number-color-1:#434A59;

$equals-bg-1:#D03F2F;
$del-res-bg-1:#647198;
$text-color:#fff;